* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Oswald;
    font-size: 10px;
}

.baner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.baner img.color {
    position: absolute;
    bottom: 0;
    right: -5%;
    height: 40%;
    z-index: 1;
    animation: color 4s linear infinite;
}

.baner img.wb {
    position: absolute;
    top: -20%;
    left: -100%;
    height: 130%;
    opacity: .2;
    animation: wb 4s linear infinite;
}

.baner .member {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    animation: text 4s linear infinite;
}

.baner .member h1 {
    font-size: 4rem;
}

.baner .member h2 {
    font-size: 2rem;
}

@keyframes color {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    88% {
        opacity: 1;
    }

    93% {
        opacity: 0;
    }

    100% {
        transform: translateX(-10%);
        opacity: 0;
    }
}

@keyframes wb {
    0% {
        transform: translateX(0) scale(1);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: .2;
    }

    88% {
        opacity: .2;
    }

    93% {
        opacity: 0;
    }

    100% {
        transform: translateX(10%) scale(1.2);
        opacity: 0;
    }
}

@keyframes text {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    88% {
        opacity: 1;
    }

    93% {
        opacity: 0;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@media (orientation: landscape){
    .baner img.color {
        right: 0;
        height: 70%;
    }
    
    .baner img.wb {  
        top: -25%;
        left: -30%;
        height: 140%;
    }

}
;